<!-- views/partials/header.ejs -->
<header class="slds-p-around--large">
  <section class="slds-clearfix">
    <div class="slds-float--left">
      <a href="/" class="headerLink">
        <h1 class="slds-text-heading--large">Node EJs Starter Apps</h1>
      </a>
    </div>
    <div class="slds-float--right">
      <ul class="slds-list--horizontal slds-has-dividers--right slds-text-heading--medium">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </section>
</header>