<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="slds">
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <% include ../partials/pageHeader %>
      <div>
        <table class="slds-table slds-table--bordered transmissionTable" cellpadding="0" cellspacing="0" border="0">
          <% drinks.forEach(function(drink) { %>
          <tbody>
            <tr>
              <td>
                <%= drink.name %>
              </td>
              <td>
                <%= drink.drunkness %>
              </td>
            </tr>
          </tbody>
          <% }); %>
        </table>
      </div>
      <div class="slds-p-around--large">
        <p><%= storeMessage %></p>
      </div>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
</body>
</html>